.services h1 {
    color: #185e91;
    font-size: 85px;
    position: relative;
    width: 800px;
    left: 450px;
}

.services {
    background-color:#EFEFEF;
    height: 900px;
}


.p3 {
    position: relative;
    left: 305px;
    font-size: 35px;
    letter-spacing: 1px;
    width: 1500px;
    color: #767676;
    font-weight: bold;
    bottom: 30px;
}

.p4 {
    position: relative;
    left: 305px;
    font-size: 35px;
    letter-spacing: 1px;
    width: 1500px;
    color: #a8a7a4;
    font-weight: bold;
    bottom: 30px;
}

@media only screen and (max-width:1000px) {
    .services {
        position: relative;
        background-color:#EFEFEF;
        height: 1000px;
        width: 1980px;
    }
   
.p3 {
    position: relative;
    right: 1500px;
    font-size: 35px;
    letter-spacing: 1px;
    width: 1100px;
    color: #767676;
    font-weight: bold;
    bottom: 30px;
} 
.p4 {
    position: relative;
    font-size: 35px;
    letter-spacing: 1px;
    width: 1100px;
    color: #a8a7a4;
    font-weight: bold;
    bottom: 30px;
}

}